
.editorBody {
  background-color: #0f0;

  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  outline: none;
  display:flex;
  flex-direction: row;
  flex-flow: row nowrap;
  
}